

.main-container{
	width: 100%;
	text-align: center;
}

.square{
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-right: -1px;
	font-size: 85px;
	border: 1px solid black;
	overflow: hidden;
}

.row{
	margin-bottom: -5px;	
}